.nvlogo{
    width: 120px;
    height: 100px;
    margin-left: -100px;;
    /* border-radius: 40%; */

}

.nvbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 110px;
    /* background-color: gray; */
    box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.43);
-webkit-box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.43);
-moz-box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.43);
position: fixed;
top: 0px;
z-index: 5;
background-color: #ffffff;
}